*{
    max-width: 1120px;
    max-height: 3054px;
    margin: auto;
    padding: auto;    
}

:root {
    --font-family: "Open Sans", sans-serif;
    --text-h1: bold 36px var(--font-family);
    --text-h2: bold 32px var(--font-family);
    --text-h3: bold 28px var(--font-family);
    --text-hd: bold 16px var(--font-family);
    --text-p: 16px var(--font-family);
    --text-sub: italic 16px var(--font-family);

    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;

    --color-primary: #1B1B1B;
    --color-secondary: #333333;
    --color-tertiary: #696969;
    --color-headline: #E1624F;

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

body{
    background-color: var(--background-default);
    border: var(--border-primary);
}

.container {
    box-sizing: border-box;
}

h1, h2, h3 {
    color: var(--color-primary);
}

h1{
    font: var(--text-h1);
    margin: 8px 0px 40px;
}

h2{
    font: var(--text-h2);
}

h3{
    font: var(--text-h3);
}

p{
    font: var(--text-hd);
    color: var(--color-secondary);
}

.accent-blue{
    font: var(--text-p);
    color: var(--accent-blue);
}

.accent-final li {
    font: var(--text-p);
}

.accent-final li:nth-child(1) {
    color: var(--accent-orange);
}

.accent-final li:nth-child(2) {
    color: var(--accent-pink);
}

.accent-final li:nth-child(3) {
    color: var(--accent-purple);
}

#description-image p{
    font: var(--text-sub);
    width: 1120px;
    height: 37px;
    margin-bottom: 44px;
}

#title-page p{
    font: var(--text-hd);
    color: var(--color-headline);
}

#title p{
    font: var(--text-hd);
    margin-top: 64px;
    color: var(--color-headline);
}

.Templo-Haedong {
    margin: 64px 0px 20px;
}

.Templo-Beomeo-sa{
    margin: 48px 0px 20px;
}

.Parque-Yongdusan{
    margin: 48px 0px 20px;
}

#description-image img{
    margin-bottom: 24px;
}

#description-image p{
    text-align: center;
}

#content-card{
    margin-bottom: 40px;
}

#content-card p:nth-child(1) {
    font: var(--text-p);
}

#content-card p:nth-child(2) {
    font: var(--text-hd);
}

.abaixo-hr{
    margin-top: 40px;
}

footer {
    color: var(--text-secondary);
    margin-top: 65px;
    margin-bottom: 48px;
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
}